body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  margin: 0;
}
p {
  color: #5b5e6d;
}

@media (max-width: 768px) {
  .top {
    padding: 10px 50px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: solid 1px lightgrey;
    background: white;
  }

  .top img {
    width: 10%;
  }

  .top ul {
    display: none;
  }
}

header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

header h1 {
  width: 300px;
  padding-left: 15px;
  color: #2c303f;
}
header p {
  color: #5b5e6d;
  padding-left: 15px;
  padding-right: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 50px;
  background: white;
}

.emailt {
  width: 90vw;
  height: 8vh;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  border: none;
  border: 1px solid lightgray;
}

.blue-button {
  background: #192592;
  color: white;
  width: 90vw;
  height: 8vh;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  border: none;
}

main {
  background: #f4f3f4;
}

.text-sign-in {
  text-align: center;
}

.main-top h2 {
  margin-top: 80px;
}

.main-top button {
  margin-top: 30px;
  width: 90vw;
  height: 8vh;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  border: none;
  border: 1px solid #192592;
  background-color: white;
  color: #192592;
}

.main-top {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 50px;
}

.companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 50px;
}

.companies img {
  width: 40vw;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 80px;
  border-bottom: 1px solid lightgray;
}

.second-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 50px;
  background: white;
  border-bottom: 1px solid lightgray;
}

.try-it-for-free {
  padding-top: 60px;
  font-size: 30px;
}

.second-container p {
  margin: 0;
}

.hashtag {
  width: 10%;
}

/* .listas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 50px;
} */

.li {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

footer li {
  list-style: none;
  margin: 5vh 0px;
  color: #5b5e6d;
  width: 30vw;
}

.li-title {
  color: #2c303f;
}

.contact-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-size: 15px;
  background-color: #f4f3f4;
}

.complete-footer {
  background-color: #f4f3f4;
}

.final-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 50px;
  color: #5b5e6d;
  background-color: #f4f3f4;
}

.final-footer img {
  width: 3vw;
}

.usa-flag {
  margin-bottom: 20px;
}

.social-medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  color: #5b5e6d;
  font-size: 15px;
  margin-bottom: 50px;
}

/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
